.votes {
    display: inline-block;
    height: 38px;
    min-width: 38px;
    margin: 0 3px 0 0;
    font-size: 11px;
    color: var(--black-400);
    padding: 7px 6px;
}

.status.answered{
    color: var(--green-500);
}

.status.answered {
    border-color: var(--green-400);
}

.hover-1:hover{
    background-color: orange;
    color: cornsilk;
}

.hover-2:hover{
    background-color:greenyellow;
    color:white;
}

.fw{
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
}

/* .borderg{
    border-top: 5px solid green;
} */