<div class="container mt-3">
    <h1 class="text-center">Add Products</h1>
    <div class="row">
    <div class="col-md-6">
      <table class="table table-dark"> 
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        
        <tbody *ngFor="let prod of products | paginate:{ itemsPerPage: 9, currentPage: p} let i = index;">
          <tr>
              <td>{{i + 1}}</td>
              <td>{{prod.id}}</td>
              <td>{{prod.name}}</td>
              <td>{{prod.price}}</td>
              <td (click)="onEditProduct(i)"><a class="text-info"><i class="fa fa-edit"></i></a></td>
              <td (click)="onDeleteProduct(i)"><a class="text-danger"><i class="fa fa-trash"></i></a></td>
             
          </tr>
        </tbody>
      </table>
    </div>

    
    <!--spinner-->
     <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-pulse">  
    </ngx-spinner>    
    <!--spinner-->
  
    <form [formGroup]="addproductForm">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Id</label>
          <input type="text" class="form-control" formControlName="id" id="inputEmail4" placeholder="Id" #id/>
        </div>
   
        <div class="form-group col-md-6">
          <label for="inputPassword4">Name</label>
          <input type="text" class="form-control" formControlName="name" id="inputPassword4" placeholder="Name" #name/>
        </div>
      </div>
    
      <!-- <div class="form-group">
        <label for="inputAddress">Price</label>
        <input type="text" class="form-control" formControlName="price" id="inputAddress" placeholder="price" #price/>
      </div> -->

      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">DOB</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="dob" id="inputPassword3" bsDatepicker #dob>
        </div>
    </div>

     
      <div class="form-group form-check">
          <span><i class="fa fa-delete"></i></span>
     </div>
  

  
      <button type="submit" class="btn btn-primary btn-sm mr-2" (click)="onAddProduct(id,name)">Add Product</button>
  
      <button type="button" class="btn btn-warning btn-sm mr-2" (click)="onSaveProduct()">Save Product</button>

      <button type="button" class="btn btn-success btn-sm mr-2">Fetch Product</button>

      <br>
      <br>
  
    </form>
  
  </div>
  
  </div>
  
  <!--Pagination  Controls-->
       <pagination-controls class="text-center" (pageChange)="p=$event">  
      </pagination-controls>
  <!--Pagination  Controls-->
  
  