
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:black!important;">
    <a class="navbar-brand text-white" href="#"><i class="fab fa-angular"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"   aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" href="#">Home <span class="sr-only"></span></a>
        </li>

        <li class="nav-item">
            <a routerLinkActive="active" routerLink="/register" class="nav-link" >Register</a>
        </li>

        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/vtslogin" class="nav-link" >Login</a>
        </li>

        <li class="nav-item">
            <a routerLinkActive="active" routerLink="/booking" class="nav-link" href="#">Booking</a>
        </li>

        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/questions" class="nav-link" href="#">Featured Q</a>
       </li>
       

       <li class="nav-item">
        <a routerLinkActive="active" routerLink="/profile" class="nav-link" href="#">Profile</a>
      </li>


      <li class="nav-item">
          <a routerLinkActive="active" routerLink="/dept" class="nav-link" href="#">Department</a>
      </li>

      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/pet" class="nav-link" href="#">Pet Reg</a>
      </li>

     <li class="nav-item">
        <a routerLinkActive="active" routerLink="/div" class="nav-link" href="#">Height</a>
      </li>

       <li class="nav-item">
        <a routerLinkActive="active" routerLink="/common" class="nav-link" href="#">common</a>
       </li>

        <li class="nav-item">
        <a routerLinkActive="active" routerLink="/firebase" class="nav-link" href="#">FireBase</a>
       </li>


       <li class="nav-item">
         <a routerLinkActive="active" routerLink="/users" class="nav-link" href="#">Users</a>
       </li>

       <li class="nav-item">
         <a routerLinkActive="active" routerLink="/posts" class="nav-link" href="#">Posts</a>
      </li>

      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/covid" class="nav-link" href="#">Covid-19 Tracker</a>
     </li>

     <li class="nav-item">
      <a routerLinkActive="active" routerLink="/comp" class="nav-link" href="#">Components</a>
    </li>


      </ul>

    </div>
  </nav>


